#mobile_nav {
    display: none;
}

#to_buy_list {
    background: white;
}

#to_buy_list .sidebar_options, #to_buy_list .sidebar_icon {
    color: var(--title-color);
}

.main_container {
    margin: 1% 1% 2% 16%;
}

.main_actions_cart {
    background-color: var(--title-color);
    max-height: 60px;
    display: flex;
}

.cart_title {
    font-size: 31px;
    color: white;
    font-weight: 600;
    padding: 6.2px;
    text-align: center;
    width: 100%;
}

.cart_header {
    font-weight: bold;
    font-size: 25px;
    color: #333;
}

.cart_column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 30px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart_row {
    display: flex;
    max-width: 90%;
    margin: 2% 0 0 5%;
}

.cart_item {
    width: 45%;
}

.cart_location {
    width: 20%;
    color: #333;
}

.location_info {
    font-size: 18px;
}

.cart_quantity {
    width: 35%;
}

.cart_item_title {
    color: #333;
    margin-left: 10%;
    font-size: 1.2em;
}

.cart_item_image {
    width: 75px;
    border-radius: 10px;
}

.cart_quantity_input {
    height: 30px;
    width: 50px;
    border-radius: 5px;
    border: 1.2px solid black;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 60%;
}

.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox > input {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.delete_options {
    display: flex;
}

.delete_all_items {
    font-size: 1.2rem;
    padding: 10px 30px;
    color: var(--text-color);
    background: var(--sidebar-color);
    border-radius: 10px;
    border: none;
    margin: 5% auto 2%;
}

.delete_all_items:hover {
    background: var(--hover-color);
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 155px;
}

.modal_content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    border-radius: 10px;
    width: 35%;
    height: 50%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 3%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: var(--title-color);
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.x_close {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.section_header {
    font-family:  arial, sans-serif;
    font-weight: normal;
    color: var(--sidebar-color);
    text-align: center;
    font-size: 2.5em;
    border-bottom: 1px solid;
    padding: 0;
}

.confirmation_text {
    font-size: 20px;
    margin: 35px 0 0 0;
    text-align: center;
}

.confirmation_name {
    font-size: 25px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.buttons_div {
    text-align: center;
    margin-top: 35px;
    padding: 0 30%;
}

.confirm_buttons {
    width: 70px;
    height: 45px;
    font-size: 22px;
    color: white;
    border-radius: 10px;
    border: none;
}

.confirm_buttons:hover {
    cursor: pointer;
}

.confirm_yes {
    float: left;
    background: rgb(212, 35, 35);
}

.confirm_no {
    float: right;
    background: rgb(51, 156, 51);
}

.post_confirmation {
    display: none;
}

.post_confirmation_text {
    font-size: 30px;
    text-align: center;
    margin-top: 15%;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s  
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.cart_quantity > span {
    font-size: 30px;
    margin-left: 10%;
    color: rgb(85, 85, 85);
}

.cart_quantity > span:hover {
    cursor: pointer;
    color: var(--hover-color);
}

@media only screen and (min-width: 1600px) {
    .modal_content {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        border-radius: 10px;
        width: 34%;
        height: 40%;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 5%;
    }

    .confirmation_text {
        font-size: 25px;
        margin: 50px 0 0 0;
        text-align: center;
    }

    .post_confirmation_text {
        font-size: 25px;
    }
}

/* Laptop screen */
@media only screen and (max-width: 1740px) {
    .post_confirmation_text {
        font-size: 25px;
    }
}

@media screen and (max-width: 1400px) {
    .main_container {
        margin: 0%;
    }
    .main_actions_cart {
        display: grid;
        grid-template-columns: 15% 85%;
        background: var(--sidebar-color);
    }
    #menu_toggle {
        top: 11px;
    }
    .cart_title {
        font-size: 20px;
        padding-right: 20vw;
    }
    .cart_row {
        max-width: 100%;
        margin: 2% 0 0 4%;
    }
    .cart_column {
        margin-right: 5%;
    }
    .cart_item {
        width: 45%;
    }
    .cart_location {
        width: 25%;
    }
    .cart_quantity {
        width: 30%;
    }
    .cart_item_image {
        width: 50px;
    }
    .cart_header {
        font-size: 14px;
    }
    .cart_item_title, .location_info, .cart_quantity_input{
        font-size: 15px;
    }
    .cart_quantity_input {
        height: 26px;
        width: 26px;
        margin-right: 20%;
    }
    .checkbox > input {
        width: 20px;
    }

    #mobile_nav {
        display: block;
    }

    .delete_options {
        flex-direction: column;
    }

    .delete_all_items {
        font-size: 15px;
        padding: 10px 30px;
        color: var(--text-color);
        background: var(--sidebar-color);
        border-radius: 10px;
        border: none;
    }

    .delete_all_items {
        margin: 8% auto 3%;
    }

    #to_buy_list_modal {
        width: 80%;
        height: 40%;
    }

    .section_header {
        font-size: 1.5em;
    }

    .close {
        top: -7px;
        font-size: 30px;
    } 

    .confirmation_text {
        font-size: 16px;
    } 

    .confirmation_name {
        font-size: 21px;
    } 

    .confirm_buttons {
        width: 60px;
        height: 40px;
        font-size: 20px;
    }

    .buttons_div {
        padding: 0 20%;
        margin-top: 20px;
    }

    .post_confirmation_text {
        font-size: 25px;
        text-align: center;
        margin-top: 17%;
    }
}